html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.login-container {
  display: flex;
  height: 100%;
}

.mermaid {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
}

.metade {
  position: absolute;
  width: 70%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(26, 174, 117, 0.48) 0%,
    rgba(19, 100, 200, 0.48) 52.5%,
    rgba(149, 40, 150, 0.48) 100%
  );
  z-index: -1;
}

.mermaid img {
  object-fit: cover;
  transform: translate(10%, 3%);
  z-index: 10;
}

.formLogin {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  gap: 5px;
  border-radius: 7px;
}

.formLogin input[type="email"],
.formLogin input[type="password"] {
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 4px;
  transition: all linear 160ms;
  outline: none;
  background-color: #161825;
  color: #fff;
  width: 100%;
  border-radius: 20px;
}

input::placeholder {
  color: rgb(255, 255, 255);
}

.formLogin label {
  font-size: 14px;
  font-weight: 600;
  font-family: Roboto;
  color: #fff;
}

.formLogin a {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 13px;
  color: #ffffff;
  transition: all linear 160ms;
  text-decoration: none;
}

.btn-custom {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid transparent;
  transition: all linear 160ms;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 10px;
  background: linear-gradient(
    90deg,
    rgba(26, 174, 117, 0.48) 0%,
    rgba(19, 100, 200, 0.48) 52.5%,
    rgba(149, 40, 150, 0.48) 100%
  );
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: block;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 20px;
}

.social-login a img {
  width: 32px;
  height: 32px;
}
